body {
  background-color: rgba(250, 250, 250);
  /* background-color: red; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f0fafb; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 770px) {
  .container {
    margin: 0 20%;
  }
} */
